/.vscode/
/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
/.vagrant/
/.fleet/
/.idea/
/storage/*.key
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.phpunit.cache
.DS_Store
Homestead.yaml
Homestead.json
auth.json

.ftpquota
.env
.env.*